## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo

## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## Test results & Coverage
TestResults/
*.trx
*.coverage
*.coveragexml

## NuGet Packages & Artifacts
*.nupkg
*.snupkg
artifacts/
nupkgs/
publish/

## OS generated
.DS_Store
Thumbs.db

